html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  line-height: 1.6;
}

main {
  font-family: var(--font-inter);
}

/* Estilos do Cabeçalho */
header {
  background-color: var(--cor-primaria);
  color: var(--cor-branca);
  padding: 20px;
  text-align: center;
}

.header-content h1 {
  font-size: 36px;
  margin-bottom: 5px;
  font-family: var(--font-itim);
}

.slogan {
  font-size: 18px;
  margin-bottom: 15px;
  font-family: var(--font-itim);
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

header nav ul li a {
  color: var(--cor-branca);
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s;
  opacity: 0.7;
  font-weight: 500;
  position: relative;
}

header nav ul li a::after {
  content: "";
  position: absolute;
  background-color: var(--cor-branca);
  width: 0;
  height: 2px;
  bottom: -1px;
  left: 0;
  transition: width 0.4s ease-in-out;
}

header nav ul li a::before {
  content: "";
  position: absolute;
  background-color: var(--cor-branca);
  width: 0;
  height: 2px;
  bottom: -1px;
  right: 0;
  transition: width 0.4s ease-in-out;
}

header nav ul li a:hover {
  color: var(--cor-branca);
  opacity: 1;
}

header nav ul li a:hover::after {
  width: 100%;
}

header nav ul li a:hover::before {
  width: 100%;
}

/* Seção Sobre */
#sobre {
  padding: 30px;
  background-color: var(--cor-branca);
  text-align: center;
}

#sobre h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: var(--cor-primaria);
}

#sobre p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
  color: var(--cor-texto);
}

/* Seção Destaques */
#destaques {
  padding: 30px;
  text-align: center;
  background-color: var(--cor-cinza-claro);
}

.destaques-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.destaques-container figure {
  text-align: center;
  width: 220px;
}

.destaques-container img {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s;
}

.destaques-container img:hover {
  transform: scale(1.05);
}

.destaques-container figcaption {
  font-size: 14px;
  color: var(--cor-texto);
  margin-top: 8px;
}

/* Seção Galeria */
#galeria {
  padding: 30px;
  background-color: var(--cor-branca);
  text-align: center;
}

.galeria-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding-top: 20px;
}

.galeria-container img {
  max-width: 280px;
  border-radius: 8px;
  transition: transform 0.3s;
  cursor: pointer;
}

.galeria-container img:hover {
  transform: scale(1.05);
}

/* Seção Artigos */
#artigos {
  padding: 30px;
  text-align: center;
  background-color: var(--cor-cinza-claro);
}

#artigos h2 {
  font-size: 28px;
  margin-bottom: 15px;
  color: var(--cor-primaria);
}

.artigos-container {
  display: grid;
  max-width: 85vw;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.artigo-card {
  background-color: var(--cor-branca);
  padding: 15px;
  width: 100%;
  max-width: 350px;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--cor-sombra);
  color: var(--cor-texto);
  transition: transform 0.2s, box-shadow 0.2s;
  animation: aparecerArtigo 0.5s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artigo-card img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}

@keyframes aparecerArtigo {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  50% {
    transform: translateX(-5%);
    opacity: 0.5;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.artigo-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.artigo-card h3 {
  font-size: 19px;
  margin-bottom: 8px;
  color: var(--cor-acento);
}

.artigo-card p {
  font-size: 14px;
  color: var(--cor-texto);
}

.button-artigo {
  background-color: var(--cor-primaria);
  color: white;
  font-size: 16px;
  padding: 7px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
  display: inline-block;
  text-decoration: none;
  margin-top: 15px; 
  cursor: pointer;
}

.button-artigo:hover {
  background-color: var(--cor-acento); 
  transform: scale(1.05); 
}

.button-artigo:active {
  outline: 2px solid var(--cor-primaria); 
}

/* Seção Depoimentos */
#depoimentos {
  padding: 30px;
  background-color: var(--cor-branca);
  text-align: center;
}

#depoimentos h2 {
  font-size: 28px;
  margin-bottom: 15px;
  color: var(--cor-primaria);
}

.depoimentos-container {
  max-width: 800px;
  margin: 0 auto;
}

blockquote {
  font-size: 16px;
  font-style: italic;
  color: var(--cor-texto);
  margin: 15px auto;
  max-width: 600px;
  border-left: 4px solid var(--cor-destaque);
  padding-left: 15px;
}

/* Rodapé */
footer {
  background-color: var(--cor-primaria);
  color: var(--cor-branca);
  text-align: center;
  padding: 15px;
  font-size: 14px;
  margin-top: 30px;
}

footer p {
  margin-bottom: 10px;
}

footer a {
  color: var(--cor-destaque);
  text-decoration: none;
  margin: 0 5px;
}

footer a img {
  width: 30px;
}

footer a:hover {
  color: var(--cor-branca);
}

/* Estilos do Modal */
.modal {
  display: none; /* Escondido por padrão */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8); /* Fundo semi-transparente */
}

.modal-content {
  background-color: var(--cor-branca);
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 490px;
  transform: translateY(100%);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s ease;
  font-family: var(--font-inter);
}

.modal-image {
  width: 90%;
  max-width: 415px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.modal-caption {
  text-align: center;
  font-size: 18px;
  margin: 10px 0;
}

.modal-author {
  font-size: 16px;
  color: var(--cor-acento);
  font-weight: bold;
}

.modal-info {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}

.close {
  position: absolute;
  top: -2px;
  right: 10px;
  color: #333;
  font-size: 31px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}

.close:hover,
.close:focus {
  color: var(--cor-acento);
}
